/* DEVELOPED BY ME */
*{ margin: 0; padding:  0; }

body
{
	background: #E1E1E1;
	font-size: 62.5%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color: #333;
}

ul{ list-style: none; }

.alinhamento
{
	min-width: 240px;
	max-width: 1200px;
	width: 98%;
	margin: 0 auto;
}

img#logo{ position:relative; margin-top: -2px; width: 160px;}

div#topo  { 	background: #333; 	padding: 0.5em  0;  overflow:hidden; }
	div#topo img { float: left;}
	div#topo span{ float: right;}
	div#topo span a{ margin-right: 2px; padding: 0.5em 1em; background: #000; color: #FFF; }

div#content { margin : 1em 0;  }

	div#left {	display: none; }

	div#formulario 
	{
		padding: 1em;
		text-align: center;
		background: #FFF;
		box-shadow: inset 0 0 1em  #666;
		border-radius: 0.5em;
	}

		div#formulario input.inputTxt , select
		{
			border: 1px solid #CCC; 
			padding: 0.3em;
			margin-bottom:  1em;
		}

		div#formulario span
		{
			font-size: 1.3em;
			color:  #999;
			display: block;
		}

		.submitCadastro
		{ 
			width: 149px; 
			height: 63px;
			background: url(../imagens/cadastrar_BTN.png) no-repeat;
			border: none;
			position: absolute;
			margin-top: -24px;
			margin-left: -25px;
			cursor: pointer;
		}

div#footer{}