/* DEVELOPED BY ME */
*{ margin: 0; padding:  0; }

body
{
	background: #E1E1E1;
	font-size: 62.5%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
	color: #333;
}

ul{ list-style: none; }

.alinhamento
{
	min-width: 240px;
	max-width: 1200px;
	width: 98%;
	margin: 0 auto;
}

img#logo{ position:relative; margin-top: -2px; width: 160px;}

div#topo  { 	background: #191970; 	padding: 0.5em  0;  overflow:hidden; }
	div#topo img { float: left;}
	div#topo span{ float: right;}
	div#topo span a{ margin-right: 2px; padding: 0.5em 1em; background: #191970; color: #FFF; }

div#content { clear:both; overflow:hidden;  margin : 1em 0;  }
	div#content  h1 { font-size: 1.6em;  margin-bottom: 1em; }
		div#content  h1  span { font-size: 0.6em; }

	div#left {	display: none; }

	div#formulario 
	{
		padding: 1em;
		text-align: center;
		background: #FFF;
		box-shadow: inset 0 0 1em  #666;
		border-radius: 0.5em;
	}

		div#formulario input.inputTxt , select
		{
			border: 1px solid #CCC; 
			padding: 0.3em;
			margin-bottom:  1em;
		}

		div#formulario span
		{
			font-size: 1.3em;
			color:  #999;
			display: block;
		}

		.submitCadastro
		{ 
			width: 149px; 
			height: 63px;
			background: url(..assets/imagens/cadastrar_BTN.png) no-repeat;
			border: none;
			position: absolute;
			margin-top: -24px;
			margin-left: -25px;
			cursor: pointer;
		}

div#footer
{
	clear: both;
	margin: 4em 0 1em;
	font-size: 1.1 em;
	text-align: center;
 }
 
 /*  
	@media  é uma condição que deve 
	ser observada pelo navegador.
 */
@media  screen  and   (min-width:360px)
{
	body {font-size: 70%; }
	div#formulario { padding: 3em;}
	div#formulario input.inputTxt { width: 280px; }
	.submitCadastro { margin-top: -1px;}
}
 
@media  screen  and   (min-width: 613px)
{
	div#formulario 
	{ 
		padding: 1.5em;
		text-align: left;
		background: #FFF url(../imagens/social-network.png)  right no-repeat;
	}
	.submitCadastro { margin-top: -18px; margin-left: 5px;}
}

@media  screen  and  (min-width: 773px) 
{
	div#formulario {   width: 58%;  float: right; }
		div#formulario  div { overflow: hidden; }
	div#formulario input.inputTxt { width: 200px; }
	div#left 
	{	
		font-size: 1.3em;
		padding-right:0.5em;
		display: block;  
		float: left; 
		margin-top: 180px;
		margin-left: 110px;
		text-align: right;
		width: 25%;
		min-height: 300px;
	}
		div#left  ul li
		{
			border-bottom: 1px solid #CCC;
			padding-bottom: 1.2em;
			margin-bottom: 1.5em;
		}
		div#left  ul li:last-child { border:none; }
	.inputFloat	{ 	float: left;   width: 240px;	}
	.captchaFloat  { float: left;  width :250px; }
	.spanHide  { visibility: hidden;}
}

@media  screen  and  (min-width: 997px) 
{
	div#content { margin: 0 6em;}
} 

@media  screen  and  (min-width: 1024px)  
{  
	div#footer
	{
		font-size: 1.5em;
		margin-top: 110px;
	}
	div#cadastro_title 
	{
		position: relative;
		left:  30px;
		font-size: 1.5em;
		margin-top: 1em;
	}
}
