@charset "utf-8";
/* CSS Document */

#FormCaptcha 
{
background:#fff;
width:400px;
height:500px;
padding:5px;
border:3px solid #69C;

}

#FormCaptcha td
{
border:1px solid #eee;
width:150px;
}

#FormCaptcha #mensagem
{
	width:298px;
	height:150px;
	margin:0 auto;
	
}


#FormCaptcha #assunto
{
	width:305px;
	border:2px dashed #69C;
}

#FormCaptcha textarea
{
		background:#F5F5F5;
		border:2px dashed #69C;
}

#FormCaptcha input
{
	width:300px;
	border:2px dashed #69C;
	height:30px;
	background:#F5F5F5;
}
#Sucesso
{
	color:#693;
	padding:1px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	width:400px;
	height:25px;
	margin:0 auto;
	display:table;
	text-align:center;
	text-transform:uppercase;

}

#Sucesso img
{
	float:left;
}

#Erro
{
	color:#900;
	padding:1px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	width:400px;
	height:25px;
	margin:0 auto;
	display:table;
	text-align:center;
	text-transform:uppercase;
	
}
#Erro img
{
	float:left;
}
#avisos
{
	border:2px solid #FF9;
	background:#FF9;
	height:40px;
	width:350px;
	padding:5px;

	
}